*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

ul, li{
    list-style: none;
}

/* NORMALIZE */

.title{
    display: flex;
    justify-content: center;
    margin:20px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.section_list{
    display: flex;
    justify-content: center;
    flex-flow: wrap;

    margin: auto;
    padding: 20px;
    width: 50%;
    border-radius: 8px;
    background-color: rgb(67, 67, 67);
}

/* CARD DE TAREA */
.section_list-cards{
    width: 90%;
}

.item_list-card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px 0;
    margin: 20px 0;

    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.509);
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.474);
    background-color: rgb(226, 226, 226);

}

.list_card-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* TEXTO DE TAREA */
.list-card-added{
    margin: 0 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

/* DIV DE CHECK Y DELETE */
.list-card-icons{
    margin: 0 30px;
    display: flex;
    column-gap: 30px;
}

/* TRANSICION DE ICONOS */
.list-card-icons button{
    border: none;
    transition: all 0.3s;
}

.list-card-icons i{
    font-size: medium;
    padding: 6px;
}

/* BOTONES CREADO CON JS */
.delete{
    background-color: red;
    border-radius: 3px;
}

.check{
    background-color: green;
    border-radius: 3px;
}

/* CUANDO SE LE AGREGUE LA CLASE COMPLETE AL ITEM-LIST-CARD EL LIST-CARD-ADDED SE LE APLICA EL ESTILO */
.item_list-card.complete  .list-card-added{
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.322);
}

.list-card-icons button:hover{
    cursor: pointer;
    transform: translateY(-3px);
}



/* AÑADIR TAREA */

.section_list-addTask{
    width: 100%;
    margin: 20px 0;

    display: flex;
    align-items: center;
    flex-flow: column;
}

.list-addTask-input{
    border: none;
    outline: none;
    width: 30%;
    font-size:large;
    margin: 20px 0 0 0;
    padding: 3px 10px;
}

.list-addTask-button{
    margin: 20px;
    padding: 8px 8px;
    outline: none;

    font-size: 15px;
    background-color: rgb(218, 233, 1);
    border: none;
}

.list-addTask-button:hover{
    cursor: pointer;
}

